@using MyPlayMarket.Infrastructure.Entities;
@using MyPlayMarket.Infrastructure.Entities.DTO;

@model IndexPaggingDTO;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
    ViewData["CurrentSort"] = Model.sortDTO.SortBy;
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/gameIndex.css" asp-append-version="true" />

<div class="container">
    <h1>All Games</h1>
    <p>
        <a class="btn btn-info" asp-action="Create" role="button">Create</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="filter">
                <form method="get" asp-action="Index" id="filterForm">
                    <div class="form form-group">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label class="control-label">Name: </label>
                            <input asp-for="filterDTO.Name" class="form-control" />
                            <span asp-validation-for="filterDTO.Name"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Company: </label>
                            <input asp-for="filterDTO.Company" class="form-control" />
                            <span asp-validation-for="filterDTO.Company"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Release: </label>
                            <input asp-for="filterDTO.Release" type="number" step="1" class="form-control" />
                            <span asp-validation-for="filterDTO.Release"></span>
                        </div>
                        <br />
                        <input name="Submit" type="submit" class="btn btn-secondary" value="Accept" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-9">
            <form method="get" asp-action="Index" id="sortForm">
                <select asp-for="sortDTO.SortBy" onchange="syncFormsAndSubmit()" class="custom-select w-25">
                    <option selected disabled>@ViewData["CurrentSort"]</option>
                    <option value="Name">Name</option>
                    <option value="Company">Company</option>
                    <option value="Cost">Price - highest first</option>
                    <option value="CostDesc">
                        Price - lowest first
                    </option>
                    <option value="ReleaseDesc">
                        Newest
                    </option>
                    <option value="Release">Oldest</option>
                </select>
                <input type="hidden" name="filterDTO.Name" value="@Model.filterDTO.Name" />
                <input type="hidden" name="filterDTO.Company" value="@Model.filterDTO.Company" />
                <input type="hidden" name="filterDTO.Release" value="@Model.filterDTO.Release" />
            </form>
            @if (Model == null || !Model.Games.Any())
            {
                <div class="d-flex flex-wrap justify-content-around main-game" style="margin:100px auto">
                    <p>No results found for your search criteria.</p>
                </div>
            }
            <div class="d-flex flex-wrap justify-content-around main-game">
                @foreach (var item in Model.Games)
                {
                    <div class="main-game-cards">
                        <a class="text-decoration-none text-white" asp-action="Details" asp-route-id="@item.Id">
                            <img src="@item.UrlImage" onerror="https://s3.envato.com/files/10065422/Extra%20Previews/02_Preview2.png" class="main-games-cards-img">
                            <div class="main-game-cards-item">
                                <p>
                                    @item.Name
                                </p>
                                <p>
                                    @item.Company
                                </p>
                                <p>
                                    @item.Release.ToShortDateString();
                                </p>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <pagging index-pagging="@Model" page-action="Index">
            </pagging>
        </div>
    </div>
</div>


<script src="~/js/syncFormsAndSubmit.js"></script>