@using MyPlayMarket.Infrastructure.Entities;
@model IndexPaggingModel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";

}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/gameIndex.css" asp-append-version="true" />

<div class="container">
    <h1>All Games</h1>
    <p>
        <a class="btn btn-info" asp-action="Create" role="button">Create</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="filter">
                some
            </div>
        </div>
        <div class="col-9">
            <form method="get" asp-action="Index">
                <select name="sortby" onchange="onsubmit" class="custom-select w-25">
                    <option selected disabled>Sort by</option>
                    <option value="Name">Name</option>
                    <option value="Company">Company</option>
                    <option value="Cost">Price</option>
                    <option value="Release">Date</option>
                </select>
            </form>
            <div class="d-flex flex-wrap justify-content-around main-game">
                    @foreach (var item in Model.Games)
                    {
                <div class="main-game-cards">
                    <a class="text-decoration-none text-white" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.UrlImage" onerror="https://s3.envato.com/files/10065422/Extra%20Previews/02_Preview2.png" class="main-games-cards-img">
                        <div class="main-game-cards-item">
                            <p>
                                    @item.Name
                            </p>
                            <p>
                                    @item.Company
                            </p>
                            <p>
                                    @item.Release.ToShortDateString();
                            </p>
                        </div>
                    </a>
                </div>
                    }
            </div>
            <pagging page-model="@Model.PageViewModel" page-action="Index">
            </pagging>
        </div>
    </div>
</div>


