@using MyPlayMarket.Infrastructure.Entities;
@model List<Game>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/gameIndex.css" asp-append-version="true" />

<div class="container">
    <h1>Index</h1>
    <p>
        <a class="btn btn-info" asp-action="Create" role="button">Create</a>
    </p>
    <div class="d-flex flex-wrap justify-content-around main-game">
        @foreach(var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="main-game-cards">

                    <img src="@item.UrlImage" class="main-games-cards-img">
                    <div class="main-game-cards-item">
                        <p>
                            @item.Name
                        </p>
                        <p>
                            @item.Company
                        </p>
                        <p>
                            @item.Release.ToShortDateString();
                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
