@using MyPlayMarket.Infrastructure.Entities;
@model List<Game>
@{
    Layout = "_Layout";
}
@if (Model.Count() > 0)
{
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i" @(i == 0 ? "class=active" : "")></li>
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img class="d-block w-100" style="height:500px;" src="@Model[i].UrlImage" alt="Слайд @(i + 1)">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>@Model[i].Name</h3>
                        <p>@Model[i].Cost</p>
                        <p>@Model[i].Description</p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div>
        <div class="container mx-5 mt-5">
            <div class="d-flex justify-content-around">
                @for (int i = 0; i < 5; i++)
                {
                    <a>
                        <div style="width:200px; height:300px; background:#412996; color:white;">

                            <img src="@Model[i].UrlImage" style="width:200px; height:150px;">
                            <div style="padding:1em 1em;">
                                <p>
                                    @Model[i].Name
                                </p>
                                <p>
                                    @Model[i].Company
                                </p>
                                <p>
                                    @Model[i].Description
                                </p>
                                <p>
                                    @Model[i].Release.ToShortDateString();
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div style="height:300px;">
        </div>
    </div>
}
