@using MyPlayMarket.Infrastructure.Entities;
@model List<Game>
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
@if (Model.Count() > 0)
{
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < 8; i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i" @(i == 0 ? "class=active" : "")></li>
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="Games" asp-action="Details" asp-route-id="@Model[i].Id">
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img class="d-block w-100" style="height:500px;" src="@Model[i].UrlImage" onerror="https://s3.envato.com/files/10065422/Extra%20Previews/02_Preview2.png" alt="Слайд @(i + 1)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>@Model[i].Name</h3>
                            <p>@Model[i].Cost</p>
                            <p>@Model[i].Description</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div>
        <div class="container">
            <div class="d-flex flex-wrap justify-content-around main-game">
                @for (int i = 0; i < 10; i++)
                {
                    <a>
                        <div class="main-game-cards">

                            <img src="@Model[i].UrlImage" onerror="https://s3.envato.com/files/10065422/Extra%20Previews/02_Preview2.png" class="main-games-cards-img">
                            <div class="main-game-cards-item">
                                <p>
                                    @Model[i].Name
                                </p>
                                <p>
                                    @Model[i].Company
                                </p>
                                <p>
                                    @Model[i].Release.ToShortDateString();
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
}
